{% extends 'userboard/base.html' %}

{% block title %} Student Hours {% endblock title %}

{% block name %} Dashboard {% endblock name%}

{% block userboard_active %} active {% endblock userboard_active %}

{% block content %}
<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-xl-6 col-sm-6 mb-3 ">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title"> Total money earned this month:</h2>
                    </div>
                    <div class="panel-body">{{ total_money }} €</div>
                </div>
            </div>

            <div class="col-xl-6 col-sm-6 mb-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title"> Total hours of work this month:</h2>
                    </div>
                    <div class="panel-body">{{ total_hours }} h</div>
                </div>
            </div>


        </div>

        <!-- THIS MONTH -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">This Month</h4>
                        <p class="category">Working hours this month</p>
                    </div>
                    <div class="content">
                        <canvas  id="thisMonth" height="150"></canvas>


                        <script>

                            var x = 'bar'
                                document.getElementById("thisMonth").height = 150;
                            if(window.screen.availWidth < 600){
                                var x = 'horizontalBar'
                                document.getElementById("thisMonth").height = 700;
                            }
                            var ctx = document.getElementById("thisMonth").getContext('2d');
                            var thisMonth = new Chart(ctx, {
                                type: x,

                                data: {
                                        labels: {{day}},
                                        datasets: [{
                                                label: '€ this day',
                                                data: {{money}},
                                                backgroundColor: {{ color|safe }},
                                                borderColor: {{ border_color|safe }} ,
                                                borderWidth: 0.8
                                        }]
                                },
                                options: {

                                        scales: {
                                                yAxes: [{
                                                        ticks: {
                                                                beginAtZero:true
                                                        }
                                                }]
                                        }
                                }
                            });

                        $(window).resize(function(){location.reload();});



                        </script>


                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle " style="color:rgba(255, 99, 132, 0.5)"></i> Monday
                                <i class="fa fa-circle " style="color:rgba(54, 162, 235, 0.5)"></i> Tuesday
                                <i class="fa fa-circle " style="color:rgba(255, 206, 86, 0.5)"></i> Wednesday
                                <i class="fa fa-circle " style="color:rgba(75, 192, 192, 0.5)"></i> Thursday
                                <i class="fa fa-circle " style="color:rgba(153, 102, 255, 0.5)"></i> Friday
                                <i class="fa fa-circle " style="color:rgba(255, 159, 64, 0.5)"></i> Saturday
                                <i class="fa fa-circle " style="color:rgba(244, 66, 244,0.5)"></i> Sunday
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- THIS YEAR -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">This Year</h4>
                        <p class="category">Salary month by month</p>
                    </div>
                    <div class="content">
                        <canvas id="thisYear" width="400" height="150"></canvas>

                        <script>
                            var x = 'bar'
                                document.getElementById("thisYear").height = 150;
                            if(window.screen.availWidth < 600){
                                var x = 'horizontalBar'
                                document.getElementById("thisYear").height = 700;
                            }

                            var ctx = document.getElementById("thisYear").getContext('2d');
                            var thisYear = new Chart(ctx, {
                                type: x,

                                data: {
                                        labels: ['January', 'February', 'March', 'April',
                                        'May', 'June', 'July', 'September', 'October',
                                        'November', 'December'],

                                        datasets: [{
                                                label: '€ this month',
                                                data: {{ months_money }},
                                                backgroundColor: {{ color|safe }},
                                                borderColor: {{ border_color|safe }} ,
                                                borderWidth: 0.8
                                        }]
                                },
                                options: {
                                        scales: {
                                                yAxes: [{
                                                        ticks: {
                                                                beginAtZero:true
                                                        }
                                                }]
                                        }
                                }
                            });
                            $(window).resize(function(){location.reload();});



                        </script>

                    </div>
                </div>
            </div>
        </div>

        <!-- END YEAR -->


        <div class="row">


            <div class="col-md-12">
                <div class="card ">
                    <div class="header">
                        <h4 class="title">Tasks</h4>
                        <p class="category">Backend development</p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox1" type="checkbox">
                                            <label for="checkbox1"></label>
                                        </div>
                                    </td>
                                    <td>Sign contract for "What are conference organizers afraid of?"</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox2" type="checkbox" checked>
                                            <label for="checkbox2"></label>
                                        </div>
                                    </td>
                                    <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox3" type="checkbox">
                                            <label for="checkbox3"></label>
                                        </div>
                                    </td>
                                    <td>Flooded: One year later, assessing what was lost and what was found when a
                                        ravaging rain swept through metro Detroit
                                    </td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox4" type="checkbox" checked>
                                            <label for="checkbox4"></label>
                                        </div>
                                    </td>
                                    <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox5" type="checkbox">
                                            <label for="checkbox5"></label>
                                        </div>
                                    </td>
                                    <td>Read "Following makes Medium better"</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="checkbox">
                                            <input id="checkbox6" type="checkbox" checked>
                                            <label for="checkbox6"></label>
                                        </div>
                                    </td>
                                    <td>Unfollow 5 enemies from twitter</td>
                                    <td class="td-actions text-right">
                                        <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}






