{% extends 'userboard/base.html' %}

{% block title %} Studeyes {% endblock title %}

{% block name %} Dashboard {% endblock name%}

{% block userboard_active %} active {% endblock userboard_active %}

{% block content %}
<div class="content">
    <div class="container-fluid">

        <div class="row">

            <div class="col-xl-6 col-sm-6 mb-3 ">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title"> Total money earned this month:</h2>
                    </div>
                    <div class="panel-body">{{ total_money }} €</div>
                </div>
            </div>

            <div class="col-xl-6 col-sm-6 mb-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title"> Total hours of work this month:</h2>
                    </div>
                    <div class="panel-body">{{ total_hours }} h</div>
                </div>
            </div>


        </div>

        <!-- THIS MONTH -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">This Month</h4>
                        <p class="category">Working hours this month</p>
                    </div>
                    <div class="content">
                        <canvas  id="thisMonth" height="150"></canvas>


                        <script>

                            var x = 'bar'
                                document.getElementById("thisMonth").height = 150;
                            if(window.screen.availWidth < 600){
                                var x = 'horizontalBar'
                                document.getElementById("thisMonth").height = 650;
                            }
                            var ctx = document.getElementById("thisMonth").getContext('2d');
                            var thisMonth = new Chart(ctx, {
                                type: x,

                                data: {
                                        labels: {{day}},
                                        datasets: [{
                                                label: '€ this day',
                                                data: {{money}},
                                                backgroundColor: {{ color|safe }},
                                                borderColor: {{ border_color|safe }} ,
                                                borderWidth: 0.8
                                        }]
                                },
                                options: {

                                        scales: {
                                                yAxes: [{
                                                        ticks: {
                                                                beginAtZero:true
                                                        }
                                                }]
                                        }
                                }
                            });




                        </script>


                        <div class="footer">
                            <div class="legend">
                                <i class="fa fa-circle " style="color:rgba(255, 99, 132, 0.5)"></i> Monday
                                <i class="fa fa-circle " style="color:rgba(54, 162, 235, 0.5)"></i> Tuesday
                                <i class="fa fa-circle " style="color:rgba(255, 206, 86, 0.5)"></i> Wednesday
                                <i class="fa fa-circle " style="color:rgba(75, 192, 192, 0.5)"></i> Thursday
                                <i class="fa fa-circle " style="color:rgba(153, 102, 255, 0.5)"></i> Friday
                                <i class="fa fa-circle " style="color:rgba(255, 159, 64, 0.5)"></i> Saturday
                                <i class="fa fa-circle " style="color:rgba(244, 66, 244,0.5)"></i> Sunday
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-6 col-sm-6 mb-3 ">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title"> Total money earned this year:</h2>
                    </div>
                    <div class="panel-body">{{ year_total_money }} €</div>
                </div>
            </div>

            <div class="col-xl-6 col-sm-6 mb-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2 class="panel-title"> Total hours of work this year:</h2>
                    </div>
                    <div class="panel-body">{{ year_total_hours }} h</div>
                </div>
            </div>


        </div>

        <!-- THIS YEAR -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">This Year</h4>
                        <p class="category">Salary month by month</p>
                    </div>
                    <div class="content">
                        <canvas id="thisYear" width="400" height="150"></canvas>

                        <script>
                            var x = 'bar'
                                document.getElementById("thisYear").height = 150;
                            if(window.screen.availWidth < 600){
                                var x = 'horizontalBar'
                                document.getElementById("thisYear").height = 700;
                            }

                            var ctx = document.getElementById("thisYear").getContext('2d');
                            var thisYear = new Chart(ctx, {
                                type: x,

                                data: {
                                        labels: ['January', 'February', 'March', 'April',
                                        'May', 'June', 'July', 'September', 'October',
                                        'November', 'December'],

                                        datasets: [{
                                                label: '€ this month',
                                                data: {{ months_money }},
                                                backgroundColor: {{ color|safe }},
                                                borderColor: {{ border_color|safe }} ,
                                                borderWidth: 0.8
                                        }]
                                },
                                options: {
                                        scales: {
                                                yAxes: [{
                                                        ticks: {
                                                                beginAtZero:true
                                                        }
                                                }]
                                        }
                                }
                            });



                        </script>

                    </div>
                </div>
            </div>
        </div>

        <!-- END YEAR -->



    </div>
</div>

{% endblock content %}






